/* Custom Properties */
:root {
  --vh: 1vh;
  --keyColor: #415ac7;
  --fontSize: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", "Hiragino Sans", "メイリオ", sans-serif;
  font-size: var(--fontSize);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #303030;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

em,
address {
  font-style: normal;
}

ul,
ol {
  list-style: none;
  padding: 0;
}
